--training_files=inat2021/tfrecords/train/inat_train.record-?????-of-02240
--num_training_instances=2686843
--validation_files=inat2021/tfrecords/val/inat_val.record-?????-of-00084
--num_validation_instances=100000
--num_classes=10000
--model_name=mobilenet-v3
--input_size=224
--input_size_stage3=300
--input_scale_mode=uint8
--batch_size=64
--lr_stage1=0.1
--lr_stage2=0.1
--lr_stage3=0.008
--momentum=0.9
% --epochs_stage1=4
% --epochs_stage2=10
% --epochs_stage3=2
--epochs_stage1=0
--epochs_stage2=5
--epochs_stage3=2
--unfreeze_layers=18
--label_smoothing=0.1
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42
--load_checkpoint=model/model_mobile_v3/stage2/